In [46]:
import os
import pandas as pd

In [47]:
df = pd.read_csv("input/scimagojr2020.csv", low_memory = False, sep = ";")

In [58]:
df.head(2)

,Rank,Sourceid,Title,Type,Issn,SJR,SJR Best Quartile,H index,Total Docs. (2020),Total Docs. (3years),Total Refs.,Total Cites (3years),Citable Docs. (3years),Cites / Doc. (2years),Ref. / Doc.,Country,Region,Publisher,Coverage,Categories
0,1,28773,Ca-A Cancer Journal for Clinicians,journal,"15424863, 00079235","62,937",Q1,168,47,119,3452,15499,80,"126,34","73,45",United States,Northern America,Wiley-Blackwell,1950-2020,Hematology (Q1); Oncology (Q1)
1,2,19434,MMWR Recommendations and Reports,journal,"10575987, 15458601","40,949",Q1,143,10,9,1292,492,9,"50,00","129,20",United States,Northern America,Centers for Disease Control and Prevention (CDC),1990-2020,Epidemiology (Q1); Health Information Manageme...

In [ ]:
df.dropna(axis=1, inplace=False)

In [48]:
df2 = pd.read_csv("input/jcs_2020.csv", low_memory = False, sep = ";")

In [51]:
df2.dropna(axis=1, inplace=False)

,Rank,Full Journal Title,Total Cites,Journal Impact Factor,Eigenfactor Score
0,1,CA-A CANCER JOURNAL FOR CLINICIANS,"55,868",508.702,0.10514
1,2,NATURE REVIEWS MOLECULAR CELL BIOLOGY,"58,477",94.444,0.07548
2,3,NEW ENGLAND JOURNAL OF MEDICINE,"464,351",91.245,0.63118
3,4,NATURE REVIEWS DRUG DISCOVERY,"41,989",84.694,0.04822
4,5,LANCET,"369,601",79.321,0.44524
...,...,...,...,...,...
13005,12982,Ornithology Research,2,Not Available,0.00000
13006,12982,Physical and Engineering Sciences in Medicine,184,Not Available,0.00002
13007,12982,RSC Medicinal Chemistry,104,Not Available,0.00000
13008,12982,Studies in Psychology,9,Not Available,0.00000
13009,12982,Syntax and Semantics,697,Not Available,0.00014

In [56]:
df2.rename(columns={'Journal Impact Factor': 'scimago_value'}, inplace = True)

In [57]:
df2.head(2)

,Rank,Full Journal Title,Total Cites,Unnamed: 3,scimago_value,Eigenfactor Score,Unnamed: 6,Unnamed: 7
0,1,CA-A CANCER JOURNAL FOR CLINICIANS,"55,868",NaN,508.702,0.10514,NaN,NaN
1,2,NATURE REVIEWS MOLECULAR CELL BIOLOGY,"58,477",NaN,94.444,0.07548,NaN,NaN

In [3]:
 df_class_2 = read_file_csv(output_file, file_class_2)

ok

In [ ]:
#result = pd.concat([df, df2], axis=0)

In [ ]:
#print(df.shape, df2.shape, result.shape)

In [ ]:
#result.tail(5)